@charset "UTF-8";

/*VERSAO PARA TABLET E TELAS GRANDES*/

/*tablet*/
@media screen and (min-width: 768px) and (max-width: 992px) {

    body{
        background-image: linear-gradient(to bottom, #E10186, #E645A5 );
    }

    section#login{
        width: 70vw;
    }

    section#login > div#imagem{
        float: left;
        width: 30%;
        height: 100%;
    }

    section#login > div#formulario {
        float: right;
        width: 70%;
    }
}

/*Desktop e telas maiores*/
@media screen and (min-width: 992px) {

    body{
        background-image: linear-gradient(to bottom, #E10186, #72A5EB );
    }

   section#login{
     width: 900px;
   }

   section#login > div#imagem{
    float: left;
    width: 50%;
    height: 100%;
   }
}